<h3 class="recent-posts-title">Recent posts</h3>

<div class="container">
  <div class="row">
    <div *ngFor="let thread of threads | slice:0:6" class="col-md-6">
      <a [routerLink]="['/Thread/Thread', thread.threadId]">
        <div class="post">
          <div>
            <p class="thread-information">
              <b>{{ thread.createdBy }}</b> posted in
              <b>{{ thread.threadCreatedAt | date: 'yyyy-MM-dd HH:mm' }}</b>
            </p>
          </div>
          <hr />
          <div><p class="title-thread"><b>{{ thread.threadTitle }}</b></p></div>
          <div>
            <p class="thread-text">
              {{ thread.threadBody | slice: 0:75 }}
              <span *ngIf="thread.threadBody.length > 75">(…)</span>
            </p>
          </div>
          <div><p class="comment-count">{{ thread.threadComments?.length }} replies</p></div>
        </div>
      </a>
      <p></p>
    </div>
  </div>
</div>
