<h3 class="recent-posts-title text-white">Here are the most recent posts!</h3>

<div class="container thread-table-container">
  <div class="row">
    <div class="col-lg-6">
      <input class="form-control" type="text" placeholder="Filter by title" [(ngModel)]="listFilter" />
    </div>
    <div class="col-lg-2">
      <div class="dropdown-filter" [ngClass]="{ 'open': isDropdownOpen }" (click)="toggleDropdown()">
        <button class="btn btn-primary filter-button">
          Sort by
        </button>
        <div class="dropdown-content">
          <button id="dropdown-filter-results" class="dropdown-item" (click)="filterBy('recent')">Most recent</button>
          <button id="dropdown-filter-results" class="dropdown-item" (click)="filterBy('comments')">Most comments</button>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary create-new-thread-button" (click)="navigateToThreadform()">Create New Thread</button>
    </div>
    <div class="col-lg-1">
      <button class="table-change" (click)="navigateToThreads()">
        <img src="../../assets/images/icons8-grid-48.png" alt="..." height="45" />
      </button>
    </div>

    <div *ngFor="let thread of filteredThreads | slice:0:6" class="col-md-6">
      <a [routerLink]="['/thread-view', thread.threadId]">
        <div class="post">
          <div>
            <p class="thread-information">
              <b>{{ thread.createdBy }}</b> posted on
              <b>{{ thread.threadCreatedAt | date: 'yyyy-MM-dd HH:mm' }}</b>
            </p>
          </div>
          <hr />
          <div>
            <p class="title-thread">
              <b>{{ thread.threadTitle | slice: 0:35 }}</b>
              <span *ngIf="thread.threadTitle.length > 35">(…)</span>
            </p>
          </div>
          <div>
            <p class="thread-text">
              {{ thread.threadBody | slice: 0:44 }}
              <span *ngIf="thread.threadBody.length > 44">(…)</span>
            </p>
          </div>
          <div><p class="comment-count"><img src="../../assets/images/message-detail-regular-24.png" alt="..." height="20" />    {{ thread.threadComments?.length }}</p></div>
        </div>
      </a>
    </div>
  </div>
</div>
