/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background: url("assets/images/33910451_aaq3.jpg"); /*links to the backgroung img used*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: #002c45;
}

.login-text {
  position: relative;/* positioned relative to its normal position */
  font-size: 25px;
  margin-right: 10px;
}
/*pseudo-element used to create after content*/
.login-text::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;

  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*Hover function*/
.login-text:hover::after {
  opacity: 1; /*when it's hovered over the opacity is changed to 1*/
}

/*design for the header, fonts sizes and placement*/
header {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: white;
}

/*positioning navbar*/
.navbar-brand {
  font-size: 50px;
  letter-spacing: 0.1em;
}

.custom-toggler {
  border-color: white;
}

.offcanvas-header {
  color: grey;
  font-style: italic;
}

/* media query that specifies condition based on maximum screen width*/
@media (max-width: 991px) {
  #offcanvasNavbar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
  #searchBar {
    width: 90%; /* Adjust the width for smaller screens as needed */
    max-width: 37.5rem; /* You can set a max-width to control the maximum width */
    margin: 0 auto;
  }

}

#searchBar {
  border-radius: 20px;
  display: flex;
  width: 300px;
  border: solid transparent;
}

  #searchBar:focus {
    border-radius: 20px 20px 0 0;
  }

  #searchBar:not(:placeholder-shown):focus {
    border-radius: 20px 20px 0 0;
  }


#searchResultsDropdown{
  position: absolute;
  padding: 7px;
  color: black;
  font-size: 14px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.search_bar_results {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
  border-top: 0.5px solid #e2e7ed;
  border-bottom: 0.5px solid #e2e7ed;
}

  .search_bar_results:hover {
    background-color: #e2e7ed;
  }

/*footer placement and design*/
.footer-content{
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 20px;
  color: white;
}

a{
  color: #f8f9fa; /* Set the text color */
  text-decoration: none; /* Remove default underline */
  font-weight: bold;
  margin-left: 10px;
  border-radius: 7px;



}

a:hover{
  color: lightgray;
}

#topBtn{
  position: sticky;
  bottom: 0;
  padding-left: 5px;
  font-size: 200%;
}
