<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-transparent"
  >
    <div class="container">
      <a class="navbar-brand custom-font fs-4 text-light em-wide" [routerLink]="['/']">
        <img ngSrc="../../assets/images/bicycle.png" alt="..." height="35" width="35" />ArcaNet
      </a>
      <button class="navbar-toggler btn-close-white shadow-none border-0"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="position-relative">
        <input #searchBarElement
               id="searchBar"
               class="form-control"
               placeholder="Search"
               type="text"
               [(ngModel)]="handlesearchinput"
               (input)="handleSearchInput()" />

          <!-- Display your search results here -->
        <div id="searchResultsDropdown" class="search-results" *ngIf="searchResults.length > 0">
          <div class="search_bar_results" *ngFor="let result of searchResults" (click)="navigateToThreadform(result)">
            {{ result.threadTitle }}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

