.post {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  padding: 1.25em;
  margin: 20px 20px 40px;
  /*  margin: 20px auto;
    margin-bottom: 40px auto;*/
  color: #002c45;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  transition: 300ms ease; /* Animation */
}

  .post:hover {
/*    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);*/
    transform: scale(1.1);
/*    transition: 1s ease;*/
  }

.title-thread, .thread-text {
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.thread-table-container {
    max-width: 1000px;
}

.category {
  font-weight: bold;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.recent-posts-title, .tabelLabel {
  font-size: 40px;
  text-align: center;
  padding: 50px 0 20px 0;
}


.filter-button {
  font-size: 16px;
  font-weight: 700;
  color: white;
  height: 46px;
  margin-top: 18px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 15%;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: rgba(0, 44, 69, 0.9);
  cursor: pointer;
  transition: .3s ease-in-out;
}

  .filter-button:hover {
    background: rgb(0, 44, 69, 07);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  }

.table-change {
  height: auto;
  width: auto;
  margin: 20px 20px 20px 25%;
  border: none;
  border-radius: 1px;
  outline: none;
  /*background-color: rgba(0, 44, 69, 0.9);*/
  background-color: transparent;
  cursor: pointer;
  transition: 300ms ease; /* Animation */
}

  .table-change:hover {
    /*background: rgb(0, 44, 69, 07);*/
    /*border: 1px solid rgba(0, 44, 69, 0.9);*//*
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);*/
    transform: scale(0.8);
  }

.dropdown-filter .dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 7px;
  color: black;
  font-size: 14px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-filter.open .dropdown-content {
  display: block;
}

.dropdown-filter {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  display: flex;
  border: solid transparent;
}

/*  .dropdown-filter:focus {
    border-radius: 20px 20px 0 0;
  }

  .dropdown-filter:not(:placeholder-shown):focus {
    border-radius: 20px 20px 0 0;
  }*/


.dropdown-content {
  display: none;
  position: absolute;
  padding: 7px;
  color: black;
  font-size: 14px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#dropdown-filter-results {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
  border-top: 0.5px solid #e2e7ed;
  border-bottom: 0.5px solid #e2e7ed;
}

  #dropdown-filter-results:hover {
    background-color: #e2e7ed;
  }
