.recent-posts-title, .tabelLabel {
  font-size: 30px;
  text-align: center;
  padding: 50px 0 30px 0;
}

.form-box {
  overflow: hidden;
  margin: auto;
  width: 50%;
}


.form-group {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  color: #002c45;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.create-container {
  width: 100%;
  transition: .5s ease-in-out;
  padding: 15px;
  color: #002c45;
}

.create-information {
    margin-top: 5px;
}

.body-input {
    height: 200px;
}

.username-input, .title-input, .body-input, .comment-input, .editBox{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  box-shadow: inset 0 1px 3px #ddd;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.create-thread-buttons {
    margin: auto;
    width: 100%;
}

.create-button {
  font-size: 17px;
  font-weight: 700;
  color: white;
  height: 35px;
  margin-top: 20px;
  width: 30%;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: rgba(51, 153, 105, 0.9);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: .3s ease-in-out;
}

  .create-button:hover {
    background: rgb(51, 153, 105, 07);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  }

.cancel-button {
  font-size: 15px;
  font-weight: 700;
  color: white;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;
  width: 17%;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: rgba(150, 29, 29, 0.9);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: .3s ease-in-out;
}

  .cancel-button:hover {
    background: rgb(255, 0, 0);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  }

.delete-thread-button{
  font-size: 13px;
  font-weight: 700;
  color: white;
  height: 30px;
  margin-top: 7px;
  margin-left: 2px;
  margin-bottom: 20px;
  width: 18%;
  border: none;
  border-radius: 7px;
  outline: none;
  background-color: rgba(255, 135, 135, 0.9);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: .2s ease-out;
}
  .delete-thread-button:hover {
    background: rgb(255, 0, 0);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  }


.input-label {
  margin-left: 4px;
  margin-bottom: 2px;
}

.add-comment-button {
  font-size: 13px;
  font-weight: 700;
  color: white;
  height: 30px;
  margin-top: 7px;
  margin-left: 2px;
  margin-bottom: 20px;
  width: 18%;
  border: none;
  border-radius: 7px;
  outline: none;
  background-color: rgba(51, 153, 105, 0.9);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: .2s ease-out;
}

  .add-comment-button:hover {
    background: rgb(51, 153, 105, 07);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  }
.cancel-comment-button {
  font-size: 13px;
  font-weight: 700;
  color: white;
  height: 30px;
  margin-top: 7px;
  margin-left: 2px;
  margin-bottom: 20px;
  width: 18%;
  border: none;
  border-radius: 7px;
  outline: none;
  background-color: rgba(255, 137, 137, 0.9);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: .2s ease-out;
}

.cancel-comment-button:hover {
  background: rgb(255, 0, 0);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}



.comment-input {
  width: 100%;
}

#displayPost {
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 20px 20px 0px 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

#displayComments {
    margin: 25px 10px 25px;
}

.comment-count {
    font-weight: 500;
}

.thread-title-current {
    font-size: calc(0.1rem + 1.5vw);
}

.comments-header {
    font-size: calc(0.7rem + .6vw);
}

.thread-body {
    font-weight: 400;
}

.actual-comment{
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 20px 20px 0px 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
.comment-input{
  border-radius: 7px;
  box-shadow: inset 0 1px 3px #ddd;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.editBtn {
  font-size: 13px;
  font-weight: 700;
  color: black;
  height: 30px;
  margin-top: 7px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 11%;
  border: 0.5px solid #e9ecef;
  border-radius: 7px;
  outline: none;
  background: linear-gradient(160deg, #f8f9fa, #e9ecef);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: .2s ease-out;
}

  .editBtn:hover {
    background: linear-gradient(320deg, #f8f9fa, #e9ecef);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.3);
  }

.editBox {
  border-radius: 7px;
  box-shadow: inset 0 1px 3px #ddd;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding-right: 70%;
}

.commentBtn {
  font-size: 13px;
  font-weight: 700;
  color: black;
  height: 30px;
  margin-top: 7px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 11%;
  border: 0.5px solid #e9ecef;
  border-radius: 7px;
  outline: none;
  background: linear-gradient(160deg, #f8f9fa, #e9ecef);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: .2s ease-out;
}

  .commentBtn:hover {
    background: linear-gradient(320deg, #f8f9fa, #e9ecef);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.3);
  }

.editTitle{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  box-shadow: inset 0 1px 3px #ddd;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 65%;
  border-radius: 7px;
}

.error-form {
  margin: 3px 0 0 5px;
  color: rgba(150, 29, 29, 0.9);
}
