.container{
  background-color: white;
  border-radius: 5px;
}

#displayPost{
  background-color: white;
  border-radius: 5px;
}

#displayComments{
  background-color: white;
  border-radius: 5px;
  width: 83%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
}

#textBox {
  max-width: 1000px;
}

#txtBody{
  min-height: 150px;
}

.form-group {
  padding-bottom: 15px;
}

.form-group button, .form-group a {
  margin: 0;
}

.form-group a {
  margin-left: 10px;
}


