.post {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: black;
}

.category {
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.recent-posts-title {
    padding-left: 15px;
}