<h2 id="tabelLabel">List of Comments</h2>

<table>
  <tr *ngFor="let comment of comments">
    <p>Created at {{ comment.commentCreatedAt }}</p>
    <p>{{ comment.commentBody }}</p>
     <button (click)="editComment(comment.commentId)">Edit Comment</button>
      <button (click)="deleteComment(comment.commentId)">Delete Comment</button>

    <div *ngIf="comment.childComments && comment.childComments.length > 0">
      <div class="child-comments">
        <div *ngFor="let childComment of comment.childComments" class="comment-item">
          <p>Created at {{ childComment.commentCreatedAt }}</p>
          <p>{{ childComment.commentBody }}</p>

            <button (click)="editComment(childComment.commentId)">Edit Comment</button>
            <button (click)="deleteComment(childComment.commentId)">Delete Comment</button>
          </div>
        </div>
      </div>
    <!-- Button Inside the Loop (Create New Thread for Each Comment) -->
    <button class="btn btn-primary" (click)="navigateToCommentform(comment)">Create New Thread</button>
  </tr>
</table>

<!-- Single Button for Creating a New Thread (Outside the Loop) -->
<button class="btn btn-primary" (click)="navigateToCommentform()">Create New Thread</button>

