<div class="form-box">
  <div class="create-container">
    <div class="form-group">

      <div *ngIf="thread.threadId; else notFound">
        <div *ngIf="!isEditing; else editMode" id="displayPost">
          <!-- Display content when not editing -->
          <h1 class="thread-title-current">{{ thread.threadTitle }}</h1>

          <div class="thread-information">
            <!-- Thread information: user, post date, last edited date -->
            <p>
              Posted by <b>{{ thread.createdBy }}</b> on the <b>{{ thread.threadCreatedAt | date: 'yyyy-MM-dd HH:mm' }}</b>.
              <!-- Display last edited date if different -->
              <span *ngIf="significantTimeDifference(thread)">
                <i>Last edited: {{ thread.threadLastEditedAt | date: 'yyyy-MM-dd HH:mm' }}</i>
              </span>
            </p>
            <hr />
            <p class="thread-body">{{ thread.threadBody }}</p>
          </div>

          <div><p class="comment-count"><img ngSrc="../../assets/images/message-detail-regular-24.png" alt="..." height="20" width="20"/>
            {{ thread.threadComments?.length }}</p>
          </div>

          <button (click)="toggleEdit(thread)" class="editBtn">Edit</button>
          <button (click)="deletePost(thread)" [routerLink]="['/threads']" class="editBtn">Delete</button>
        </div>

        <ng-template #editMode>
          <!-- Display editable content when editing -->
          <input type="text" [(ngModel)]="editedTitle" class="editTitle"/>
          <div class="thread-information">
            <!-- Thread information: user, post date, last edited date -->
            <p>
              Posted by <b>{{ thread.createdBy }}</b> on the <b>{{ thread.threadCreatedAt | date: 'yyyy-MM-dd HH:mm' }}</b>.
              <!-- Display last edited date if different -->
              <span *ngIf="(significantTimeDifference(thread))">
                <i>Last edited: {{ thread.threadLastEditedAt | date: 'yyyy-MM-dd HH:mm' }}</i>
              </span>
            </p>
            <hr />
            <textarea [(ngModel)]="editedBody" class="editBox"></textarea>
          </div>

          <div><p class="comment-count"><img ngSrc="../../assets/images/message-detail-regular-24.png" alt="..." height="20" width="20" />
            {{ thread.threadComments?.length }}</p>
          </div>

          <button (click)="saveChanges()" class="editBtn">Save</button>
          <button (click)="toggleEdit(thread)" class="editBtn">Cancel</button>
        </ng-template>
      </div>

      <ng-template #notFound>
        <div class="container">
          <p>The requested thread was not found.</p>
        </div>
      </ng-template>

      <div id="displayComments" *ngIf="thread">
        <h3 class="comments-header">Comments</h3>

        <!-- Input box for adding comments -->
        <div id="textBox" [formGroup]="commentForm">
          <input [(ngModel)]="newCommentCreatedBy" formControlName="newCommentCreatedBy" placeholder="Display name" class="comment-input">
          <div class="error-form" *ngIf="commentForm.get('newCommentCreatedBy')?.hasError('maxlength')">
            <b>Maximum length exceeded (max 50 characters).</b>
          </div>
          <textarea [(ngModel)]="newCommentBody" formControlName="newCommentBody" placeholder="What are your thoughts?" class="comment-input"></textarea>
          <div class="error-form" *ngIf="commentForm.get('newCommentBody')?.hasError('maxlength')">
            <b>Maximum length exceeded (max 1000 characters).</b>
          </div>
          <div>
            <button (click)="addComment()" class="add-comment-button" [disabled]="commentForm.invalid">Add Comment</button>
          </div>
        </div>

        <!-- Display existing comments -->
        <div class="actual-comment">
          <div *ngIf="!thread.threadComments || thread.threadComments.length === 0">
            <p>No comments yet.</p>
          </div>

          <div *ngFor="let comment of thread.threadComments">
            <div *ngIf="!comment.isEditing; else editMode">
              <!-- Display content when not editing -->
              <p>
                <b>{{comment.createdBy}}</b> replied on the <b>{{comment.commentCreatedAt | date:'yyyy-MM-dd HH:mm'}}</b>
                <!-- Displays commentLastEdited value only if it differs from commentCreatedAt        -->
                <ng-container *ngIf="(significantTimeDifference(comment))">
                  <i>. Last edited at: {{ comment.commentLastEditedAt | date:'yyyy-MM-dd HH:mm' }}</i>
                </ng-container>
              </p>
              <p>{{ comment.commentBody }}</p>

              <div>
                <button class="commentBtn" (click)="toggleEditComment(comment)">Edit</button>
                <button class="commentBtn" (click)="deleteComment(comment.commentId)">Delete</button>
              </div>
              <hr>
            </div>

            <ng-template #editMode>
              <!-- Display editable content when editing -->
              <p>
                <b>{{comment.createdBy}}</b> replied on the <b>{{comment.commentCreatedAt | date:'yyyy-MM-dd HH:mm'}}</b>
                <!-- Displays commentLastEdited value only if it differs from commentCreatedAt        -->
                <ng-container *ngIf="comment.commentLastEditedAt !== comment.commentCreatedAt">
                  <i>. Last edited at: {{ comment.commentLastEditedAt | date:'yyyy-MM-dd HH:mm' }}</i>
                </ng-container>
              </p>
              <textarea class="comment-input" type="text" [(ngModel)]="editedBody"></textarea>
              <div>
                <button class="commentBtn" (click)="saveChangesComment(comment, editedBody)">Save</button>
                <button class="commentBtn" (click)="toggleEditComment(comment)">Cancel</button>
              </div>
              <hr>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



