<h1 class="tabelLabel text-white">Explore discussions</h1>

<div class="container thread-table-container">
  <div class="row">
    <div class="col-8">
      <input class="form-control" type="text" placeholder="Filter" [(ngModel)]="listFilter" />
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary submit" (click)="navigateToThreadform()">Create New Thread</button>
    </div>
  </div>


  <div *ngFor="let thread of filteredThreads">
    <a [routerLink]="['/thread-view', thread.threadId]">
      <div class="post">
        <div>
          <p class="thread-information">
            <b>{{ thread.createdBy }}</b> posted on
            <b>{{ thread.threadCreatedAt | date: 'yyyy-MM-dd HH:mm' }}</b>
          </p>
          <hr />
          <p class="title-thread"><b>{{ thread.threadTitle }}</b></p>
          <p class="thread-text">{{ thread.threadBody }}</p>
          <p class="comment-count">{{ thread.threadComments?.length }} replies</p>
        </div>
      </div>
    </a>
  </div>
</div>


