<h2 class="tabelLabel text-white">Create Thread</h2>

<div class="form-box">
  <div class="create-container">
    <form [formGroup]="threadForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="create-information">
          <label class="input-label" for="createdBy">Username:</label>
          <textarea type="text" id="createdBy" formControlName="createdBy" class="form-control username-input"  oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'> </textarea>
        </div>

        <div class="create-information">
          <label class="input-label" for="threadTitle">Title:</label>
          <!-- The oninput code below makes the textarea expand as the user types -->
          <!-- Source: https://stackoverflow.com/questions/2803880/is-there-a-way-to-get-a-textarea-to-stretch-to-fit-its-content-without-using-php -->
          <textarea type="text" id="threadTitle" formControlName="threadTitle" class="form-control title-input"  oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'> </textarea>
            <div class="error-form" *ngIf="threadForm.get('threadTitle')?.hasError('maxlength')">
              <b>Maximum length exceeded (max 100 characters).</b>
            </div>
        </div>

        <div class="create-information">
          <label class="input-label" for="threadBody">Body:</label>
            <textarea type="text" id="threadBody" formControlName="threadBody" class="form-control body-input"  oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
            <div class="error-form" *ngIf="threadForm.get('threadBody')?.hasError('maxlength')">
              <b>Maximum length exceeded (max 2500 characters).</b>
            </div>
        </div>
      </div>

      <div class="create-thread-buttons">
        <button type="submit" class="btn btn-primary create-button" [disabled]="threadForm.invalid">Create Thread</button>
        <button class="btn btn-secondary cancel-button" (click)="backToThreads()">Cancel</button>
      </div>

    </form>
  </div>
</div>
