<h1 id="tabelLabel">Explore discussions</h1>

<div class="container">
  <div class="row">
    <div class="col-md-2">Filter by:</div>
    <div>
      <input class="form-control" type="text" [(ngModel)]="listFilter" />
    </div>
  </div>


  <div *ngFor="let thread of threads">
    <a [routerLink]="['/thread-view', thread.threadId]">
      <div class="post">
        <div>
          <p class="thread-information">
            <b>{{ thread.createdBy }}</b> posted on
            <b>{{ thread.threadCreatedAt | date: 'yyyy-MM-dd HH:mm' }}</b>
          </p>
          <hr />
          <p class="title-thread"><b>{{ thread.threadTitle }}</b></p>
          <p class="thread-text">{{ thread.threadBody }}</p>
          <p class="comment-count">{{ thread.threadComments?.length }} replies</p>
        </div>
      </div>
    </a>
  </div>
</div>

<button class="btn btn-primary" (click)="navigateToThreadform()">Create New Thread</button>
