<div class="form-box">
  <div class="create-container">
    <div class="form-group">
      <div *ngIf="thread.threadId; else notFound">
        <div *ngIf="!isEditing; else editMode" id="displayPost">
          <!-- Display content when not editing -->
          <h1 class="thread-title-current">{{ thread.threadTitle }}</h1>

          <div class="thread-information">
            <!-- Thread information: user, post date, last edited date -->
            <p>
              Posted by <b>{{ thread.createdBy }}</b> on the <b>{{ thread.threadCreatedAt | date: 'yyyy-MM-dd HH:mm' }}</b>.
              <!-- Display last edited date if different -->
              <span *ngIf="thread.threadCreatedAt !== thread.threadLastEditedAt">
                <i>Last edited: {{ thread.threadLastEditedAt | date: 'yyyy-MM-dd HH:mm' }}</i>
              </span>
            </p>
            <hr />
            <p class="thread-body">{{ thread.threadBody }}</p>
          </div>
          <div><p class="comment-count"><img src="../../assets/images/message-detail-regular-24.png" alt="..." height="20" />
            {{ thread.threadComments?.length }}</p></div>
          <button (click)="toggleEdit()" class="editDelBtn">Edit</button>
          <button (click)="deletePost(thread)" [routerLink]="['/threads']" class="editDelBtn">Delete</button>
        </div>

        <ng-template #editMode>
          <!-- Display editable content when editing -->
          <input type="text" [(ngModel)]="editedTitle" />
          <div class="thread-information">
            <!-- Thread information: user, post date, last edited date -->
            <p>
              Posted by <b>{{ thread.createdBy }}</b> on the <b>{{ thread.threadCreatedAt | date: 'yyyy-MM-dd HH:mm' }}</b>.
              <!-- Display last edited date if different -->
              <span *ngIf="thread.threadCreatedAt !== thread.threadLastEditedAt">
                <i>Last edited: {{ thread.threadLastEditedAt | date: 'yyyy-MM-dd HH:mm' }}</i>
              </span>
            </p>
            <hr />
            <textarea [(ngModel)]="editedContent"></textarea>
          </div>
          <div><p class="comment-count"><img src="../../assets/images/message-detail-regular-24.png" alt="..." height="20" />
            {{ thread.threadComments?.length }}</p></div>
          <button (click)="saveChanges()" [routerLink]="['/thread-view/', thread.threadId]" >Save</button>
          <button (click)="cancelEdit()">Cancel</button>
        </ng-template>
      </div>

      <ng-template #notFound>
        <div class="container">
          <p>The requested thread was not found.</p>
        </div>
      </ng-template>

      <div id="displayComments" *ngIf="thread">
        <h3 class="comments-header">Comments</h3>

        <!-- Input box for adding comments -->
        <div id="textBox">
          <textarea [(ngModel)]="newCommentCreatedBy" placeholder="Display name" class="comment-input"></textarea>
          <textarea [(ngModel)]="newCommentBody" placeholder="What are your thoughts?" class="comment-input"></textarea>
          <div>
            <button (click)="addComment()" class="add-comment-button">Add Comment</button>
          </div>
        </div>

        <!-- Display existing comments -->
        <div class="actual-comment">
          <div *ngIf="!thread.threadComments || thread.threadComments.length === 0">
            <p>No comments yet.</p>
          </div>
          <div *ngFor="let comment of thread.threadComments">
            <p> <b>{{comment.createdBy}}</b> replied on the <b>{{comment.commentCreatedAt | date:'yyyy-MM-dd HH:mm'}}</b>
              <!-- Displays commentLastEdited value only if it differs from commentCreatedAt        -->
              <ng-container *ngIf="comment.commentLastEditedAt !== comment.commentCreatedAt">
              <i>. Last edited at: {{ comment.commentLastEditedAt | date:'yyyy-MM-dd HH:mm' }}</i>
              </ng-container>
            </p>
            <p>{{ comment.commentBody }}</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



